@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = "Forbidden";
}

<div class="row">
    <div class="col">
        <div style="font-size: 100px">403</div>
        <h1>Forbidden</h1>
        You dont have access to this page<br />
        <a href="/Dashboard">
            <button class="btn btn-primary"> Dashboard </button>
        </a>
    </div>
    <div class="col">
        <img src="https://http.dog/403.jpg" alt="Alternate Text" style="width: 750px; height:600px;"/>
    </div>
</div>




