@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = "Forbidden";
}

<div class="row">
    <div class="col">
        <div style="font-size: 100px">404</div>
        <h1>Not Found</h1>
        You may have type wrong address ???<br />
        Please check the url address once more<br />
        <a href="/Dashboard">
            <button class="btn btn-primary"> Dashboard </button>
        </a>
    </div>
    <div class="col">
        <img src="https://http.cat/404" alt="Alternate Text"/>
    </div>
</div>


