@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Index</title>
</head>
<body>

</body>
</html>
<script>
    $.ajax({
        url: "https://localhost:44354/api/Employees",
        success: function (result) {
            console.log(result);
        }
    })
</script>